#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=curl -L https://raw.githubusercontent.com/the-outcaster/ship-of-harkinian-updater/main/soh-updater.sh | sh
Icon=steamdeck-gaming-return
Name=Ship of Harkinian Updater
StartupNotify=false
Terminal=true
Type=Application
